<!--
  Generated template for the UiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ui</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <img src="assets/imgs/1.png"/>
        <ion-card-content>
          <ion-card-title>
            Ride
            </ion-card-title>
          <p>
            <audio src="assets/songs/1.m4a" controls></audio>
          </p>
        </ion-card-content>
      </ion-card>
      <div (click)="playBlue()">Play Blue</div>
</ion-content>
