<ion-header>
  <ion-navbar>
    <ion-title>
      Hola Mundo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item [navPush]="navigationPage">
      <ion-icon name="albums" item-start></ion-icon>
        Navegación
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>
    <ion-item [navPush]="uiPage">
      <ion-icon name="browsers" item-start></ion-icon>
        UI
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="warning" item-start></ion-icon>
        Vibration
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
