<!--
  Generated template for the NavigationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Navegación</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Estoy en el push {{n}}
  <button ion-button color="secondary" outline block [navPush]="navigationPage" [navParams]="{data:n+1}">Push</button>
  <button ion-button color="danger" outline block navPop>Pop</button>
  <button ion-button color="primary" outline block (click)="grinGoHome()">Volver al home</button>
</ion-content>
